.page-header {
	width: 100%; 
	height: 58px;
	background: var(--main-header-bg-color);	
}

.header-container {
	width: 1206px; /* 1366-(79*2)-2 */
	height: 58px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;	
}

.header-container :any-link {
	color: var(--main-text-color);
	text-decoration: none;
}

.header-container :any-link:hover {
	color: var(--main-active-color);
	transition: 0.3s;
}

.header-logo {	
	max-width: fit-content;
	padding: 18px 0;	
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;	
}
 
.nav-menu {
	height: 100%;
	width: 347px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.nav-list {
	min-width: 118px;
	height: 100%;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 25px;	
}

.nav-list a{	
	height: 100%;	
	padding: 25px 11px 16px 11px;	
}

.nav-item {
	fill: var(--main-text-color);
}

.nav-list :first-child a {	
	padding-left: 0;
}

.nav-list :last-child a {	
	padding-right: 0;
}

.nav-list :hover .nav-item {
	fill: var(--main-active-color);
	transition: 0.3s;
}

.registration-menu {
	height: 100%;
	display: flex;	
	justify-content: flex-end;	
}

.registration-menu a {	
	padding: 22px 0 21px 0;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;	
	margin-right: 2px;
}

.registration-menu :first-child::before {
	content: "";
	height: 19px;
	padding-right: 27px;
	border-left: 1px solid var(--main-header-line-color);	
	opacity: 0.5;	
} 

.registration-menu-text{
	display: flex;
	padding-right: 2px;
	align-items: center;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: var(--main-text-color);
}
