@import "header.css";

:root {
--main-header-bg-color:rgba(0, 0, 0, 0.4);	
--main-header-line-color: rgba(255, 255, 255, 0.9);
--main-text-color: white;
--main-title-color: #434343;
--main-form-shadow-color: rgba(0, 0, 0, 0.52);
--main-form-line-color: #F2F2F2;
--main-form-input-field-color:#BEBEBE;
--main-nonactive-color: rgba(60, 184, 120, 0.8);
--main-active-color: #01813F;

}

@font-face {
	font-family: "Ubuntu";
	src: url(../fonts/Ubuntu-Regular.woff);
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url(../fonts/Ubuntu-Bold.woff);
	font-weight: 700;
	font-display: swap;
}

body {
	font-family: 'Ubuntu', sans-serif;	

}

.sign-up-page {
	width: 100vw;
	height: 100vh;
	background-image: url("../img/main-background.png");
	background-repeat: no-repeat;
	background-size: cover;	
}

main {
	height: calc(100% - 58px);/* ...независимо от размера экрана (вертикально - за вычетом высоты хедера) */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;}


.sign-up-form {
	width: 444px;
	height: 584px;
	background: var(--main-text-color);
	box-shadow: 0px 4px 18px var(--main-form-shadow-color);	
	position: relative;

}

.form-container {		
	margin: 31px 60px 38px 60px;
}

.form-tile {
	width: 100%;
	display: flex;
	justify-content: space-between;	
	font-weight: normal;
	font-size: 20px;	
	color: var(--main-title-color);
	
}

.form-tile::before {
	content: "";
	width: 18px;
	height: 18px;
	background: #3CB878;
	position: absolute;
	left: 0;
}

.form-tile a {
	font-weight: normal;
	font-size: 14px;	
	color: #3CB878;
	text-decoration: none;
	padding: 5px 0 13px 30px;	
}

.form-tile a:hover {
	text-decoration-line: underline;
	color: var(--main-active-color);
	transition: 0.5s;
}

.btn-wrapper {
	 width: 324px; /* не 100%, чтобы кнопки не склеивались с уменьшением ширины экрана	 */
	display: flex;
	justify-content: space-between;
	position: relative;
}

.btn-wrapper a {
	width: 157px;
	height: 48px;		
	display: flex;
	align-items: center;	
	font-size: 16px;	
	color: var(--main-text-color);	
	border-radius: 3px;	
	text-decoration: none;
	position: relative;
}

.facebook-btn {
	background-color: royalblue;
}

.facebook-btn:hover {	
	background-color: #022263;
	transition: 0.5s;
}

.google-btn {
	background-color: #DF4A32;	
}

.google-btn:hover {	
	background-color: #AB1F09;
	transition: 0.5s;
}

.facebook-btn img {	
	display: flex;
	align-items: center;	
	margin-left: 15px;
	margin-right: 38px;	
}

.google-btn img {	
	display: flex;
	align-items: center;	
	margin-left: 11px;
	margin-right: 39px;	
}

.btn-wrapper a::before {
	content: "";	
	height: 28px;
	opacity: 0.1;	
	position: absolute;
	top: 11px;
	left: 48px;		
}

.facebook-btn::before {
	border-left: 1px solid #0A162F;
}

.google-btn::before {
	border-left: 1px solid #2B0D09;
}

.line-with-text {
	width: 100%;
	display: block;
	margin-top: 31px;
	font-size: 14px;	
	color: #848484;
	text-align: center;		
}

.line-with-text::before,
.line-with-text::after {
	content: "";
	display: inline-block;
	width: 47%;
	height: 1px;
	vertical-align: middle;
	text-align: center;
	background: var(--main-form-line-color);
	position: relative;
}

.line-with-text::before {
	right: 3px;	
 }

 .line-with-text::after {
	left: 3px;	
 }


.text-input-field {	
	width: 100%;
	height: 46px;
	display: block;
	margin-top: 15px;
	padding: 15px 0 15px 20px;
	box-sizing: border-box;	
	border: 1px solid var(--main-form-line-color);
	border-radius: 4px;
	background: var(--main-text-color);
	font-size: 14px;
	color: var(--main-title-color);	/*Заполненного поля*/	
}

/* Удаляем цвет фона при автозаполнении (не знаю нужно ли так делать?)*/
.text-input-field:-webkit-autofill {
	-webkit-text-fill-color: var(--main-title-color);
	-webkit-box-shadow: inset 0 0 0 50px var(--main-text-color) !important;
}

.text-input-field:first-of-type {
	 margin-top: 11px;
 }

.text-input-field::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 14px;
	line-height: 14px;
	color: var(--main-form-input-field-color);	
 }

 .text-input-field::-moz-placeholder {
	font-size: 14px;
	line-height: 14px;
	color: var(--main-form-input-field-color);
 }
 .text-input-field:-ms-input-placeholder {
	font-size: 14px;
	line-height: 14px;
	color: var(--main-form-input-field-color);
 } 

.text-input-field:focus 
/* .text-input-field:hover  */ {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	outline: none;
	color: var(--main-title-color); /*При заполненеии поля*/
	background-color: var(--main-text-color);
	transition: 0.5s;
 }


.agreement-whith-checkbox {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--main-title-color);
	cursor: pointer;	
}

.checkbox-block {	
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid var(--main-form-line-color);
  box-sizing: border-box;  
  background: rgba(0, 0, 0, 0.0001);
  position: relative;
  margin: 0 8px 0 2px;
}

.agreement-whith-checkbox input[type="checkbox"] {
	position: absolute;
	opacity: 0;
 }

 .agreement-whith-checkbox input[type="checkbox"]:checked + .checkbox-block {	
	background-image: url("../img/check-mark-icon.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
 }
 
.agreement-link {
	padding: 12px 60px 12px 3px;
	color: var(--main-nonactive-color);
	text-decoration: none;
}

.agreement-link:hover {
	color: var(--main-active-color);;
	text-decoration: underline;
	transition: 0.5s;
}

.btn {
	width: 100%;
	height: 46px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	background: var(--main-nonactive-color);
	color: var(--main-text-color);
	border: none; 
	margin-top: 8px;
 }	
 
 .btn:hover {
	background: var(--main-active-color);
	transition: 0.5s;
 }